
/* 
    Created on : May 15, 2016, 4:53:25 PM
    Author     : trigger
*/

body {
    padding-top: 40px;
}

.footer{
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

.book-title:hover, .book-title:focus {
    text-decoration: none;
}